In [ ]:
#Installing the pandas library
# pandas is a powerful and flexible data analysis and manipulation library for Python.
# It provides data structures and functions needed to work with structured data seamlessly.
# This library will be used for data manipulation and analysis tasks in the project
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#Imported the CSV file, loading the data to the dataframe and view few rows of the data
import pandas as pd
df=pd.read_csv("adult_income_Analysis.csv")
print(df.head())

   age    workclass  fnlwgt    education  education.num marital.status  \
0   54      Private  140359      7th-8th              4       Divorced
1   34      Private  216864      HS-grad              9       Divorced
2   68  Federal-gov  422013      HS-grad              9       Divorced
3   45      Private  172274    Doctorate             16       Divorced
4   46      Private   45363  Prof-school             15       Divorced

          occupation   relationship   race     sex  capital.gain  \
0  Machine-op-inspct      Unmarried  White  Female             0
1      Other-service      Unmarried  White  Female             0
2     Prof-specialty  Not-in-family  White  Female             0
3     Prof-specialty      Unmarried  Black  Female             0
4     Prof-specialty  Not-in-family  White    Male             0

   capital.loss  hours.per.week native.country income
0          3900              40  United-States  <=50K
1          3770              45  United-States  <=50K
2          3683              40  United-States  <=50K
3          3004              35  United-States   >50K
4          2824              40  United-States   >50K

In [ ]:
# Data Overview
# The dataset contains information about individuals and their income.
# Columns include:
# - age: The age of the individual.
# - workclass: The type of employment (e.g., Private, Federal-gov, etc.).
# - fnlwgt: The final weight, a measure used by the census bureau for statistical purposes.
# - education: The highest level of education attained.
# - education.num: The numerical representation of the education level.
# - marital.status: Marital status of the individual (e.g., Divorced, Never-married, etc.).
# - occupation: The type of occupation (e.g., Machine-op-inspct, Prof-specialty, etc.).
# - relationship: Relationship status (e.g., Unmarried, Not-in-family, etc.).
# - race: The race of the individual (e.g., White, Black, etc).
# - sex: Gender of the individual (e.g., Female, Male).
# - capital.gain: Capital gains income.
# - capital.loss: Capital losses.
# - hours.per.week: Number of hours worked per week.
# - native.country: Country of origin.
# - income: Income bracket (<=50K or >50K).

# Next Step: Checking for Duplicates
# We need to verify if there are any duplicate rows in the dataset.
# Duplicate entries can skew analysis results and should be identified and removed if necessary.
# This step ensures the dataset's integrity before performing further analysis.

# Check for duplicate rows
duplicates = df.duplicated().sum()
print(duplicates)

24

In [ ]:
# The dataset contains 24 duplicate rows. Let's examine these duplicate records to understand their content and impact on the analysis.
duplicates_all_df = df[df.duplicated(keep=False)]

# Sort the duplicate rows by all columns for better visibility
duplicates_sorted_df = duplicates_all_df.sort_values(by=list(df.columns))

# Display the sorted duplicate rows
print("Duplicate rows in the dataset, sorted by all columns:")
print(duplicates_sorted_df)

Duplicate rows in the dataset, sorted by all columns:
       age         workclass  fnlwgt     education  education.num  \
26025   19           Private   97261       HS-grad              9
26325   19           Private   97261       HS-grad              9
22760   19           Private  138153  Some-college             10
27123   19           Private  138153  Some-college             10
25262   19           Private  146679  Some-college             10
27176   19           Private  146679  Some-college             10
21800   19           Private  251579  Some-college             10
30389   19           Private  251579  Some-college             10
22407   20           Private  107658  Some-college             10
24169   20           Private  107658  Some-college             10
23091   21           Private  243368     Preschool              1
25221   21           Private  243368     Preschool              1
22084   21           Private  250051  Some-college             10
23433   21           Private  250051  Some-college             10
27065   23           Private  240137       5th-6th              3
28498   23           Private  240137       5th-6th              3
22416   25           Private  195994       1st-4th              2
24607   25           Private  195994       1st-4th              2
27434   25           Private  195994       1st-4th              2
21937   25           Private  308144     Bachelors             13
22121   25           Private  308144     Bachelors             13
22344   27           Private  255582       HS-grad              9
29212   27           Private  255582       HS-grad              9
23292   28           Private  274679       Masters             14
28632   28           Private  274679       Masters             14
25829   30           Private  144593       HS-grad              9
26275   30           Private  144593       HS-grad              9
2505    35           Private  379959       HS-grad              9
4416    35           Private  379959       HS-grad              9
9032    38           Private  207202       HS-grad              9
18148   38           Private  207202       HS-grad              9
16808   39           Private   30916       HS-grad              9
18026   39           Private   30916       HS-grad              9
11093   42           Private  204235  Some-college             10
17902   42           Private  204235  Some-college             10
26096   44           Private  367749     Bachelors             13
27451   44           Private  367749     Bachelors             13
1941    46           Private  133616  Some-college             10
4240    46           Private  133616  Some-college             10
13343   46           Private  173243       HS-grad              9
13624   46           Private  173243       HS-grad              9
10191   49           Private   31267       7th-8th              4
15420   49           Private   31267       7th-8th              4
9851    49  Self-emp-not-inc   43479  Some-college             10
15658   49  Self-emp-not-inc   43479  Some-college             10
21319   90           Private   52386  Some-college             10
22188   90           Private   52386  Some-college             10

           marital.status         occupation   relationship  \
26025       Never-married    Farming-fishing  Not-in-family
26325       Never-married    Farming-fishing  Not-in-family
22760       Never-married       Adm-clerical      Own-child
27123       Never-married       Adm-clerical      Own-child
25262       Never-married    Exec-managerial      Own-child
27176       Never-married    Exec-managerial      Own-child
21800       Never-married      Other-service      Own-child
30389       Never-married      Other-service      Own-child
22407       Never-married       Tech-support  Not-in-family
24169       Never-married       Tech-support  Not-in-family
23091       Never-married    Farming-fishing  Not-in-family
25221       Never-married    Farming-fishing  Not-in-family
22084       Never-married     Prof-specialty      Own-child
23433       Never-married     Prof-specialty      Own-child
27065       Never-married  Handlers-cleaners  Not-in-family
28498       Never-married  Handlers-cleaners  Not-in-family
22416       Never-married    Priv-house-serv  Not-in-family
24607       Never-married    Priv-house-serv  Not-in-family
27434       Never-married    Priv-house-serv  Not-in-family
21937       Never-married       Craft-repair  Not-in-family
22121       Never-married       Craft-repair  Not-in-family
22344       Never-married  Machine-op-inspct  Not-in-family
29212       Never-married  Machine-op-inspct  Not-in-family
23292       Never-married     Prof-specialty  Not-in-family
28632       Never-married     Prof-specialty  Not-in-family
25829       Never-married      Other-service  Not-in-family
26275       Never-married      Other-service  Not-in-family
2505             Divorced      Other-service  Not-in-family
4416             Divorced      Other-service  Not-in-family
9032   Married-civ-spouse  Machine-op-inspct        Husband
18148  Married-civ-spouse  Machine-op-inspct        Husband
16808  Married-civ-spouse       Craft-repair        Husband
18026  Married-civ-spouse       Craft-repair        Husband
11093  Married-civ-spouse     Prof-specialty        Husband
17902  Married-civ-spouse     Prof-specialty        Husband
26096       Never-married     Prof-specialty  Not-in-family
27451       Never-married     Prof-specialty  Not-in-family
1941             Divorced       Adm-clerical      Unmarried
4240             Divorced       Adm-clerical      Unmarried
13343  Married-civ-spouse       Craft-repair        Husband
13624  Married-civ-spouse       Craft-repair        Husband
10191  Married-civ-spouse       Craft-repair        Husband
15420  Married-civ-spouse       Craft-repair        Husband
9851   Married-civ-spouse       Craft-repair        Husband
15658  Married-civ-spouse       Craft-repair        Husband
21319       Never-married      Other-service  Not-in-family
22188       Never-married      Other-service  Not-in-family

                     race     sex  capital.gain  capital.loss  hours.per.week  \
26025               White    Male             0             0              40
26325               White    Male             0             0              40
22760               White  Female             0             0              10
27123               White  Female             0             0              10
25262               Black    Male             0             0              30
27176               Black    Male             0             0              30
21800               White    Male             0             0              14
30389               White    Male             0             0              14
22407               White  Female             0             0              10
24169               White  Female             0             0              10
23091               White    Male             0             0              50
25221               White    Male             0             0              50
22084               White  Female             0             0              10
23433               White  Female             0             0              10
27065               White    Male             0             0              55
28498               White    Male             0             0              55
22416               White  Female             0             0              40
24607               White  Female             0             0              40
27434               White  Female             0             0              40
21937               White    Male             0             0              40
22121               White    Male             0             0              40
22344               White  Female             0             0              40
29212               White  Female             0             0              40
23292               White    Male             0             0              50
28632               White    Male             0             0              50
25829               Black    Male             0             0              40
26275               Black    Male             0             0              40
2505                White  Female             0             0              40
4416                White  Female             0             0              40
9032                White    Male             0             0              48
18148               White    Male             0             0              48
16808               White    Male             0             0              40
18026               White    Male             0             0              40
11093               White    Male             0             0              40
17902               White    Male             0             0              40
26096               White  Female             0             0              45
27451               White  Female             0             0              45
1941                White  Female             0             0              40
4240                White  Female             0             0              40
13343               White    Male             0             0              40
13624               White    Male             0             0              40
10191               White    Male             0             0              40
15420               White    Male             0             0              40
9851                White    Male             0             0              40
15658               White    Male             0             0              40
21319  Asian-Pac-Islander    Male             0             0              35
22188  Asian-Pac-Islander    Male             0             0              35

      native.country income
26025  United-States  <=50K
26325  United-States  <=50K
22760  United-States  <=50K
27123  United-States  <=50K
25262  United-States  <=50K
27176  United-States  <=50K
21800  United-States  <=50K
30389  United-States  <=50K
22407  United-States  <=50K
24169  United-States  <=50K
23091         Mexico  <=50K
25221         Mexico  <=50K
22084  United-States  <=50K
23433  United-States  <=50K
27065         Mexico  <=50K
28498         Mexico  <=50K
22416      Guatemala  <=50K
24607      Guatemala  <=50K
27434      Guatemala  <=50K
21937         Mexico  <=50K
22121         Mexico  <=50K
22344  United-States  <=50K
29212  United-States  <=50K
23292  United-States  <=50K
28632  United-States  <=50K
25829              ?  <=50K
26275              ?  <=50K
2505   United-States  <=50K
4416   United-States  <=50K
9032   United-States   >50K
18148  United-States   >50K
16808  United-States  <=50K
18026  United-States  <=50K
11093  United-States   >50K
17902  United-States   >50K
26096         Mexico  <=50K
27451         Mexico  <=50K
1941   United-States  <=50K
4240   United-States  <=50K
13343  United-States  <=50K
13624  United-States  <=50K
10191  United-States  <=50K
15420  United-States  <=50K
9851   United-States  <=50K
15658  United-States  <=50K
21319  United-States  <=50K
22188  United-States  <=50K

In [ ]:
# Remove duplicate rows from the dataset
# This operation will retain the first occurrence of each duplicate and remove the rest.
# The dataset will be updated to exclude these redundant rows.

data_cleaned=df.drop_duplicates()
#confirming the number of duplicate rows has been reduced to 0
remaining_duplicates = data_cleaned.duplicated().sum()
print(remaining_duplicates)
print(data_cleaned.head())

0
   age    workclass  fnlwgt    education  education.num marital.status  \
0   54      Private  140359      7th-8th              4       Divorced
1   34      Private  216864      HS-grad              9       Divorced
2   68  Federal-gov  422013      HS-grad              9       Divorced
3   45      Private  172274    Doctorate             16       Divorced
4   46      Private   45363  Prof-school             15       Divorced

          occupation   relationship   race     sex  capital.gain  \
0  Machine-op-inspct      Unmarried  White  Female             0
1      Other-service      Unmarried  White  Female             0
2     Prof-specialty  Not-in-family  White  Female             0
3     Prof-specialty      Unmarried  Black  Female             0
4     Prof-specialty  Not-in-family  White    Male             0

   capital.loss  hours.per.week native.country income
0          3900              40  United-States  <=50K
1          3770              45  United-States  <=50K
2          3683              40  United-States  <=50K
3          3004              35  United-States   >50K
4          2824              40  United-States   >50K

In [ ]:
print("Column data types:")
print(data_cleaned.dtypes)

Column data types:
age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [ ]:
# Replaced all instances of '?' with 'Unknown' in the DataFrame to handle missing or ambiguous data
df=data_cleaned.replace('?', 'Unknown')

In [ ]:
# Map each education level to a broader category and create a new column 'grouped_education_level'
# This categorizes education levels into broader groups for easier analysis and interpretation
education_mapping = {
    '11th': 'High School',
    'HS-grad': 'High School',
    '10th': 'High School',
    '9th': 'High School',
    '12th': 'High School',
    '7th-8th': 'Elementary/Middle School',
    'Some-college': 'Some College',
    '5th-6th': 'Elementary/Middle School',
    'Masters': 'Master\'s Degree',
    'Bachelors': 'Bachelor\'s Degree',
    'Assoc-voc': 'Associate\'s Degree',
    'Assoc-acdm': 'Associate\'s Degree',
    'Preschool': 'Preschool',
    '1st-4th': 'Elementary/Middle School',
    'Doctorate': 'Doctorate',
    'Prof-school': 'Professional School'
}

df['grouped_education_level'] = df['education'].map(education_mapping)

In [ ]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income', 'grouped_education_level'],
      dtype='object')

In [ ]:
# Checked the DataFrame to determine if any '?' values are still present.

contains_question_marks = (df == '?').any().any()
print(contains_question_marks)

False

In [ ]:
# Replaced hyphens ('-') with spaces (' ') in the 'native.country' column
# to ensure proper formatting of country names, e.g., 'United-States' becomes 'United States'
df['native.country'] = df['native.country'].str.replace('-', ' ', regex=False)

# Verify the replacement
print(df['native.country'].unique())

['United States' 'Canada' 'India' 'Philippines' 'Unknown' 'Japan' 'Iran'
 'Mexico' 'Cuba' 'England' 'Puerto Rico' 'Germany' 'Ireland' 'France'
 'Honduras' 'Portugal' 'China' 'Italy' 'Scotland' 'Nicaragua' 'Greece'
 'Peru' 'Ecuador' 'Dominican Republic' 'Poland' 'Haiti' 'Guatemala'
 'South' 'Thailand' 'Jamaica' 'El Salvador' 'Vietnam' 'Trinadad&Tobago'
 'Columbia' 'Hungary' 'Outlying US(Guam USVI etc)' 'Yugoslavia' 'Taiwan'
 'Hong' 'Cambodia' 'Laos' 'Holand Netherlands']

In [ ]:
df.to_csv('adult_income_Analysis_after_cleaning.csv', index=False)